#break-increment {
  color: aqua;
}
h1 {
  color: aqua;
}

body {
  background: rgb(190, 190, 190);
}
.dot {
  height: 4px;
  width: 4px;
  border: solid 1px;
  border-radius: 50%;
  margin: auto;
  transition: 2s;
  transition-timing-function: ease-in-out;
}

.dotBright {
  @extend .dot;
  background: aqua;
}

.dotContainer {
  background-color: blue;
  position: relative;
}

/* .all {
  display: flex;

  align-content: center;
} */
// Width and height of the parent element

//---------------------------------------------------------------------------

//--------------------------------------------------------------------------
